body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    margin-top: 20px;
    padding: 15px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.celula {
    display: flex;
    background-color: darkgrey;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
}

.celula:hover {
    background-color: lightgray;
}



