<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="card">
        <header class="card-header"></header>

        <section class="formulario">
            <div class="input-group">
                <label for="valor-a"></label>
                <input type="" id="valor-a" placeholder="">
            </div>
            
            <div class="input-group">
                <label for="valor-a"></label>
                <input type="" id="valor-b" placeholder="">
            </div>

            <button id="btnCalcular" onclick=""></button>
        </section>

        <footer class="resultado" id="resultadoArea" style="display: none;">
            <hr>
            <p>O resultado é: <strong id="valorResultado">0</strong></p>
        </footer>

    </main>
    <script src="script.js"></script>
</body>

</html>