* {
    background-color: lightslategray;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 20px;
}

h1, section{
    flex-grow: 1;
    text-align: center;
}

div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
    text-align: center;
    border: 2px solid black;
    padding: 5px 10px;
    color: black;
    margin: 10px;
}

label {
    background-color: darkgreen;
    padding: 16px 20px;
    border-radius: 8px;
    color: white;


}

.btn {
    padding: 16px 32px;
    border: 0;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover {
    background-color: green;
    transition: 0.9s;
}

.inativo {
    background-color: darkred;
    cursor: not-allowed;
    opacity: 0.6;
}

#list {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    /* para a caixa não "sumir" quando estiver vazia */
    min-height: 50px;
    width: 100%;
    max-width: 400px;
}

.item-tarefa {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: block;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.05);
}

